<div class="flex-wrap-movielist">
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
  <app-movie-child class="test"> </app-movie-child>
</div>
