:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  background-color: #080324;
}

.sidenav{
  padding-right: 10px;
}

mat-drawer-container {
  height: 100%;
}
.drawer-content{
  background: #111111;
}
