:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  background-color: #1A1A27;
}

.sidenav{
  padding-right: 10px;
}

mat-drawer-container {
  height: 100%;
}
.drawer-content{
  background: #f1f4f7;
}
