<div class="movie-item-style-2 movie-item-style-1">
  <img src="{{movie.poster}}" alt="img movie">
  <div class="hvr-inner">
    <button class="detail">
      <a>Chi tiết</a>
    </button>
  </div>
  <div class="hvr-inner">
    <button class="delete" (click)="deleteMovie(movie.id)">
      <a>Xoá</a>
    </button>
  </div>
  <div class="mv-item-infor">
    <h6><a>{{movie.title}}</a></h6>
    <p class="rate">
      <span><mat-icon class="icon-star">star_border</mat-icon>4.1</span><span style="font-size: 10px">/5</span>
    </p>
  </div>
</div>
